

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  width: auto !important;
  overflow-x: hidden !important;
}

footer {
	height: 60px;
	background-color: #3f3f3f;
	margin-bottom: -20px;
	margin-right: -20px;
}

/* === Text === */

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Vollkorn";
  font-weight: normal;
  line-height: 1.1;
  color: #000;
}

a {
	color: #4b4278;
}

a:hover {
	color: #0d004c;
	text-decoration: none;
}

/* Main page */

#main-page {
	font-family: "Vollkorn";
	padding: 50px 0 70px 20px;
}

#main-page h1 {
	font-size: 80px;
	color: #3f3f3f;
	text-align: center;
}

#main-page h2 {
	font-size: 32px;
	color: #3f3f3f;
	padding: 20px 0 20px 10px;
	text-align: center;
	
}

#main-page h5 {
	font-size: 18px;
	color: #3f3f3f;
	text-align: center;
	font-weight: normal;
	line-height: 26px;
}

.person-img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 80%;
	height: 80%;
	margin-left: 10%;
}

.page-links {
	margin-top: 40px;
}

.page-links h4 {
	text-align: center;
}

.img-button {
	width: 80%;
	height: auto;
	float: left;
	margin-left: 10%;
	padding-bottom: 15px;
	
}

.img-button:hover .img-button.hover {
	width: 80%;
	height: auto;
	float: left;
	margin-left: 10%;
	padding-bottom: 15px;
}

.img-button-small {
	width: 100px;
	height: 100px;
	padding: 0px;
	float: left;
	display: inline;
}


/* ============================================================
  SECTIONS
============================================================ */

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Vollkorn", "Helvetica" serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: normal;
	font-family: "Vollkorn", sans-serif;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}

section.module.parallax {
  height: 400px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: #fff;
  font-size: 60px;
  line-height: 400px;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 0 2px #000;
	font-family: "Vollkorn", "Helvetica", sans-serift;
}

section.module.parallax-1 {
  background-image: url("../img/scotland.png");
}

section.module.parallax-2 {
  background-image: url("../img/scotland.png");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 36px;
		text-align: center;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 60px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 60px;
  }
}

@media all and (max-width: 500px) {
	section.module.parallax h1 {
    font-size: 48px;
		text-align: center;
  }
}

section.module.page {
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.page h1 {
	color: #fff;
	text-align: left;
	line-height: 70px;
	font-size: 60px;
  text-shadow: 0 0 2px #000;
	font-family: "Vollkorn";
}

section.module.web-page {
  background: #118ba5;
	height: 120px;
	border-bottom: 10px solid #e1c140;
}

section.module.writing-page {
  background: #e1c140;
	height: 120px;
	border-bottom: 10px solid #945cb8;
}

section.module.resume-page {
  background: #945cb8;
	height: 120px;
	border-bottom: 10px solid #119ba5;
}

.heading-subpage {
	padding-top: 20px;
}

/* Contact bar */

.contact {
	background-color: #118ba5;
	height: auto;
	margin-right: -20px;
}

.contact-btn {
	width: 90%;
	height: 90%;
	float: left;
	margin-left: 5%;
}

.contact-btn:hover {
	opacity: 0.7;
	
}

section.module.content a {
	color: #fff;
	text-align: center;
	font-weight: normal;
	font-size: 18px;
	line-height: 90px;
}

section.module.content a:hover {
	color: #fff1b8;
	text-decoration: none;
}

section.module.content h4 {
	font-family: "Vollkorn";
	text-align: center;
	font-size: 20px;
	color: #fff;
	font-weight: normal;
	line-height: 90px;
}
/* Navbar */
.nav {
	font-family: "Vollkorn";
	font-size: 16px;
}

.navbar-inverse {
  background-color: #3f3f3f;
  border-color: #080808;
	font-family: "Vollkorn";
	background-image: none;
	border: none;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #eee;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #2e2e2e;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #fff;
}
.navbar-inverse .navbar-link:hover {
  color: #eee;
}
.navbar-inverse .btn-link {
  color: #fff;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}





/* JS Page */

section.module.weather-page {
	  height: 400px;
	  background-position: 50% 50%;
	  background-repeat: no-repeat;
	  background-attachment: fixed;
	  background-size: cover;
	}
	
section.module.weather {
	  background-image: url("../img/beach2.jpg");
}

section.module.weather h2 {
	margin-bottom: 10px;
}


#examples {
	font-family: "Vollkorn";
}

#examples h2 {
	padding: 0px 0px 10px 0px;
}

#weather-widget {
	border: 1px solid transparent;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 20px;
	margin-top: 40px;
	background: url("../img/transwhite.png");
}


#weather-widget .form-inline {
	padding-bottom: 20px;
}

#weather-widget .weather-icon {
	float: left;
	padding: 0px 10px 0px 0px;
}

#weather-widget p {
	margin-top: 10px;
	font-size: 16px;
}

#weather_summary {
	margin-top: 30px;
}


.btn-js {
	background-color: #fff;
	border: 1px solid #ccc;
}

.btn-js:hover {
	background-color: #000;
	color: #fff;
}








